# 기본적인 파이썬 문법

### 들여쓰기(indentation)

if, for, class, def 등 파이썬 문법에서 사용되는 많은 경우는 들여쓰기(스페이스 한 번, 두 번 또는 탭)를 통해 하나의 코드 블록을 구성됨.

In [3]:
print(1+2)
 print(1+3)

IndentationError: unexpected indent (945199647.py, line 2)

In [5]:
for i in range(3):
    print(i)

0
1
2

### 기본 연산자

* 사칙 연산
연산연산자(arithmetic operator) : +, -, *, /, **

In [9]:
2**3

8

In [11]:
3-2*2+4

3

* 그 외 나누기 연산 : %(나머지 계산), //(몫)

In [14]:
9/2

4.5

In [16]:
9//2

4

In [18]:
9%2

1

* R에서 사용되는 ^는 파이썬에서는 사칙연산자가 아님. 
    - bitwise XOR

In [21]:
3^5

6

3 = 011  
5 = 101  
6 = 110

* 비교연산자(comparison operator) : <, >, <=, >=, == !=

In [25]:
1>0.8

True

In [27]:
2<3

True

In [29]:
3<2

False

In [31]:
x = 10
y=15
print('x > y is', x>y)
print('x <= y is', x<y)
print('x == y is', x == y)
print('x != y is', x != y)

x > y is False
x <= y is True
x == y is False
x != y is True

* 논리연산자(logical operator) : not, and, or
     - 벡터 형태의 데이터를 다룰 때 많이 사용

In [34]:
a = 3
b = 5
c = 10
d = 9

print(a < b and c > d)
print(a < b or c < d)
print(not c < d)

True
True
True

### 조건문 : if + else

* if의 기본구조  

if 참, 거짓을 판별할 수 있는 식 :  

    참일때 실행  
    
    들여쓰기 같으면 if에 의해 실행  
    
else : 

    거짓일때 실행

In [38]:
data = 3
if data < 2:
    print("It is less than 2")
else :
    print(data, " is equal or greater than 2")
print(data)

3  is equal or greater than 2
3

예제. 짝수인지 홀수인지 출력

In [41]:
even_numbers = [2,4,6,8,10]
x = 3
if x in even_numbers:
    print(x,' 는 짝수.')
else :
    print(x, ' 는 홀수.')

3  는 홀수.

* 조건에 따라 변수 값 지정 (R에서의 ifelse 함수) 
> 변수 = 조건문이 참인 경우의 값 if 조건문 else 조건문이 거짓인 경우의 값

In [44]:
score = 90
if score >= 60:
    message = "Good"
else:
    message = "Not Bad"
print(message)

Good

In [46]:
message2 = "Good" if score >= 60 else "Not Bad"
print(message2)

Good

### 반복문 : for , while

* for 를 이용하는 반복문 : 들여쓰기와 콜론(:) 사용

In [50]:
for i in range(3):
    print(i)

0
1
2

In [52]:
for i in range(3)
    print(i)

SyntaxError: expected ':' (859882524.py, line 1)

In [54]:
for i in range(3):
print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (3296739069.py, line 2)

In [56]:
for i in range(1,3):
    print(i)

1
2

예제. $$\sum_{i=100}^{200}i = 100 + 101 + 102 + \cdots + 200 $$

In [59]:
sum = 0
for i in range(100, 201):
    sum = sum + i
print(sum)

15150

In [61]:
sum = 0
for i in range(100, 201):
    sum += i
print(sum)

15150

In [63]:
for i in range(1,3):
    for j in range(i,3):
        print('i+j =',i+j)

i+j = 2
i+j = 3
i+j = 4

range(a,b)는 a부터 b-1까지의 순차적인 숫자열을 나타내며, 순차적인 숫자열을 반복으로 사용하고 싶지 않을 때는 벡터를 지정.

In [66]:
seq = [1,3,5,7,9]
for i in seq:
    print(i)

1
3
5
7
9

* while을 이용한 반복문 : while 뒤의 조건이 만족하는 동안 반복해서 실행

In [69]:
count = 0
while count < 5:
    print(count, 'less than 5')
    count += 1

0 less than 5
1 less than 5
2 less than 5
3 less than 5
4 less than 5

In [71]:
count = 0
while count < 5:
    print(count, 'less than 5')
    count += 1
else:
    print(count, 'stop here')

0 less than 5
1 less than 5
2 less than 5
3 less than 5
4 less than 5
5 stop here

예제. 50을 3으로 계속 나누어 가는데 결괏값이 1보다 큰 경우 동안만 수행

In [74]:
result = 50
while result > 1 :
    result /= 3
    print(result)

16.666666666666668
5.555555555555556
1.851851851851852
0.617283950617284

* for/while에 의한 반복 과정에서 특정 조건을 만족하면 반복이 종료 : break

In [77]:
sum = 0
for i in range(20): 
    sum += 1
    print(sum)
    if sum == 10:
        break

1
2
3
4
5
6
7
8
9
10

In [79]:
sum = 0
while True : 
    sum += 1
    print(sum)
    if sum == 10:
        break

1
2
3
4
5
6
7
8
9
10

* for/while에 의한 반복 과정에서 특정 조건을 만족하면 코드 실행하지 않고 반복만 진행 : continue

In [82]:
a = 0
for i in range(10):
    a = a + 1
    if a % 2 == 0: 
        continue
    print(a)

1
3
5
7
9

In [84]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0: 
        continue
    print(a)

1
3
5
7
9

예제1. for를 두 번 사용하는 이중반복을 사용하여 구구단의 결과가 나오게 코드를 작성하여라.  
예제2. while를 두 번 사용하는 이중반복을 사용하여 구구단의 결과가 나오게 코드를 작성하여라.

# 클래스(class)와 인스턴스(instance)
* 데이터 구조와 계산 로직을 한 군데서 사용할 수 있도록 함께 묶어둔 목록
* 클래스 : 데이터와 기능을 함께 묶는 방법을 제공
* 인스턴스 : 클래스에 의해 만들어진 객체이며 각자의 값을 가짐
* 메서드(method) : 함수와 비슷한 개념으로 클래스에 묶여서 클래스 안에 있는 인스턴스와 관계되는 함수  

예.
* 덕성여자대학교, 서울대학교, 고려대학교, 성균관대학교 $\cdots$
* 이 학교들은 모두 '대학교'라는 공통적인 특징을 가짐.
* 이 때 대학교는 특정 학교를 지칭하는 표현이 아니라, 일반적으로 고등학교를 졸업한 후 진학하여 전공 공부를 하기 위한 학교를 지칭
* 여기서 '대학교'는 클래스
* 구체적인 학교인 덕성여자대학교는 대학교라는 클래스의 한 경우 : 인스턴스
* 마찬가지로 서울대학교도 대학교라는 클래스의 한 경우이므로 인스턴스
* '대학교'를 나타내는 특징들 예를 들어 4년 동안 재학, 여러 단과대학으로 구성되고 각 단과대학은 여러 학과들로 구성됨.
* 즉, 대학교라는 클래스의 특징들을 미리 지정해 놓으면 구체적인 인스턴스인 덕성여자대학교의 특징들은 어렵지 않게 정의될 수 있음.
* 이 때, 대학교의 특징을 나타내는 재학기간, 단과대학 : 메서드

* class라는 형태를 이용해 클래스를 정의하고, 그 안에 들여쓰기를 통해 특징들(변수나 함수인 메서드. 이 둘을 attributes라고 표현)을 정의(def)

In [89]:
class University:     
    duration = '4 years'
    def department(self):             
            return "Statistics"

* 위와 같이 대학교라는 클래스를 만들고, 대학교의 특징으로 통계학과라는 학과를 부여. 즉 대학교에는 통계학과라는 학과가 존재하는 특징을 가짐.
* 이렇게 정의된 대학교 클래스를 이용해서 덕성여자대학교라는 인스턴스를 정의할 수 있음.
* 이 때, 덕성여자대학교 역시 대학교이므로 통계학과라는 학과가 존재하게 됨.
* 이러한 통계학과라는 특징을 확인하기 위해서 .을 사용하여 '덕성여자대학교.duration()' 또는 '덕성여자대학교.department()'
* self의 경우 인스턴스를 만들 경우 사용되는 인자

In [104]:
덕성여자대학교 = University()
덕성여자대학교.department()

'Statistics'

In [106]:
덕성여자대학교.duration

'4 years'

In [108]:
class HighSchool:
    graduation = 'yes'
    def duration(self):             
            return "3 years"

In [110]:
school = HighSchool()
school.graduation

'yes'

In [112]:
school.duration()

'3 years'

# 변수(variable), 리스트(list), 딕셔너리(dictionary)

### 변수
* 변수는 어떤한 값을 저장하는 메모리 공간
* 저장하려는 값의 형태의 따라 다양한 종류의 변수
* 불형(Boolean, True or False), 정수형, 실수형, 문자열

In [116]:
boolvar = True
intvar = 0
floatvar = 3.0
strvar = "안녕"

* 여러 변수에 값을 지정할 때, 다음과 같이 한 번에 정의할 수 있다.

In [119]:
boolvar2, intvar2, floatvar2, strvar2 = True, 0, 3.0, "안녕"
print(boolvar2);print(intvar2);print(floatvar2);print(strvar2)

True
0
3.0
안녕

In [121]:
type(boolvar)

bool

In [123]:
type(floatvar2)

float

* 변수의 사용
    - 변수에 값을 대입해 새로운 값으로 변경
    - 변수에 변수를 대입
    - 숫자끼리 연산한 결과를 대입
    - 변수와 숫자를 연산한 결과를 대입
    - 연산결과를 자신의 값에 다시 대입

In [126]:
boolvar2 = False
print(boolvar2)

False

In [128]:
value = 300
value2 = value
print(value2)

300

In [130]:
value3 = 3*2/5
print(value3)

1.2

In [132]:
value4 = value3 * 5
print(value4)

6.0

In [134]:
value4 = value4 * 100
print(value4)
value4 = value3 * 5
value4 *= 100
print(value4)

600.0
600.0

### 리스트
* 리스트는 변수들을 한 줄로 이어 붙여놓은 개념
* 만약 변수 a, b, c가 있을 때, 리스트는 [a,b,c]
* 리스트의 변수는 0번부터 시작, 즉 list = [a,b,c]라고 정의할 때, list[0] = a, list[1] = b, list[2] = c

In [137]:
a, b, c, d = 1, 2, 5, 7
abcd = [a,b,c,d] # or abcd = [1, 2, 5, 7]
print(abcd)

[1, 2, 5, 7]

In [139]:
print(abcd[0]); print(abcd[3]); print(abcd[4])

1
7

IndexError: list index out of range

### 리스트의 형태

In [142]:
a = []
b = [1,2,3]
c = [1, 2, 'Hello', 4]
d = [1, 2, 3, ['a','b','c']]

* 리스트 안의 성분들의 index
    - 0번부터 시작. 즉 b의 첫 번째 성분은 b[0]
    - 마지막 성분의 index는 -1, 즉 b의 마지막 성분은 b[-1]
    - 리스트의 성분으로 또 다른 리스트가 저장된 이중리스트의 성분들은 이중 index를 사용하여 표현

In [145]:
b_first = b[0]
b_last = b[-1]
print(b_first);print(b_last)

1
3

In [147]:
d[-1]

['a', 'b', 'c']

In [149]:
print(d[-1][0])
d_last_first = d[3][0]
print(d_last_first)

a
a

In [151]:
d[-1][-1]

'c'

* 리스트의 특정 성분들 골라내기(slicing)
    - :(콜론)을 기준으로 왼쪽은 시작지점의 다음 값(0부터 시작), 오른쪽은 끝나는 지점
    - 즉, c[1:3] 이면 리스트 c의 2번째 성분부터 3번째 성분까지
    - : 왼쪽 값을 지정하지 않으면 처음부터. 즉 c[:2]는 처음부터 2번째 성분까지
    - : 오른쪽 값을 지정하지 않으면 마지막까지, c[1:]은 2번째 성분부터 마지막까지

In [154]:
c[1:3]

[2, 'Hello']

In [156]:
c[1:2]

[2]

In [158]:
c[0:2]

[1, 2]

In [160]:
c[:2]

[1, 2]

In [162]:
c[1:]

[2, 'Hello', 4]

In [164]:
d[-1][:2]

['a', 'b']

* 리스트 연산
    - ' + ' 기호는 성분들의 더하기가 아니라 리스트를 이어붙여서 새로운 하나의 리스트를 만들게됨. 따라서 '리스트 + 리스트' 형태
    - ' * ' 기호는 리스트를 반복. 따라서 ' 리스트 * 정수 ' 형태로 작성

In [167]:
b + c

[1, 2, 3, 1, 2, 'Hello', 4]

In [169]:
b + 3

TypeError: can only concatenate list (not "int") to list

In [171]:
b * 2

[1, 2, 3, 1, 2, 3]

In [173]:
b * c

TypeError: can't multiply sequence by non-int of type 'list'

* 리스트의 수정과 삭제
     - 리스트의 성분을 다른 값으로 대체하여 수정
     - del 함수를 이용하여 리스트 성분 삭제

In [176]:
a = [1, 2, 3, 4]
print(a)
a[1] = 10
print(a)

[1, 2, 3, 4]
[1, 10, 3, 4]

In [178]:
del a[1]
print(a)

[1, 3, 4]

In [180]:
del a[1:]
print(a)

[1]

In [182]:
len(a)

1

In [184]:
del a
a

NameError: name 'a' is not defined

* 리스트는 하나의 클래스. 즉, 여러 특징들 또는 함수들이 리스트라는 클래스에 포함됨.
* 예를 들어, 리스트에는 새로운 값들을 추가하거나 제거할 수 있는 특징(함수형태 : attributes)들이 정의되어있으며 이러한 함수를 불러오기 위해서는 
> 리스트.함수

* 리스트에 성분 추가(append)
    - list.append(x) : list라는 이름의 리스트의 마지막에 x를 추가

In [188]:
aa = []
print(aa)

[]

In [190]:
dir(aa)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [192]:
aa.append(3)
aa.append(1)
aa.append(8)
aa

[3, 1, 8]

In [194]:
aa.append(7, 1000)
aa

TypeError: list.append() takes exactly one argument (2 given)

In [196]:
aa.append([7, 100])
aa

[3, 1, 8, [7, 100]]

* 리스트에 여러 값을 넣고 싶을 때
    - list.extent([])

In [199]:
aa.extend([1,3,4,5])
aa

[3, 1, 8, [7, 100], 1, 3, 4, 5]

* 리스트 정렬(sort)

In [205]:
del aa[-4]
print(aa)
aa.sort()
aa

[1, 3, 8, 1, 3, 4]

[1, 1, 3, 3, 4, 8]

* 리스트의 성분들을 역순으로 정렬(reverse)

In [208]:
aa.reverse()
aa

[8, 4, 3, 3, 1, 1]

* 리스트의 특정 성분이 어디에 있는지 위치 반환(index)

In [211]:
aa.index(8)

0

* 리스트에 성분 삽입(insert), 성분 제거(remove)
    - list.insert(0, 5) : list라는 리스트의 0번(첫 번째 성분)에 5라는 값을 삽입
    - list.remove(5) : list라는 리스트 성분 중 5 값을 가지는 것을 제거. 동시에 여러개의 5가 있을 경우 가장 먼저 나오는 5를 삭제

In [214]:
ㅁ = [2, 3, 5, 3, 7, 6, 3]

In [216]:
ㅁ.insert(0,5)
ㅁ

[5, 2, 3, 5, 3, 7, 6, 3]

In [218]:
ㅁ.remove(5)
ㅁ

[2, 3, 5, 3, 7, 6, 3]

* 리스트에 포함된 성분의 개수 세기(count)
    - list.count(3) : list라는 리스트 안에 3의 값을 가지는 성분이 몇 개인지 확인

In [221]:
ㅁ.count(3)

3

aa.+tab 을 누르면 리스트라는 클래스로 정의된 aa에 사용할 수 있는 특징(함수)들을 확인할 수 있음.