예제. 특정한 x에 대해서 x가 소수인지 확인하는 코드

In [2]:
x = 10

remainder = 0
for prime in range(2,x):    
    if x % prime != 0 :        
        remainder += 1
        
Is_x_the_prime_number = "x는 소수이다" if remainder == (x-2) else "x는 소수가 아니다"
print(Is_x_the_prime_number)

x는 소수가 아니다

**예제1. 2부터 1000까지 중 소수가 몇 개인지 찾는 코드를 작성하여라.**

In [4]:
prime_count = 0
for x in range(2,1001):
    remainder = 0    
    for prime in range(2,x):    
        if x % prime != 0 :        
            remainder += 1    
    if remainder == (x-2):
        prime_count += 1
    
print(prime_count)

168

* while을 이용한 반복문 : while 뒤의 조건이 만족하는 동안 반복해서 실행

In [6]:
count = 0
while count < 5:
    print(count, 'less than 5')
    count += 1

0 less than 5
1 less than 5
2 less than 5
3 less than 5
4 less than 5

* for/while에 의한 반복 과정에서 특정 조건을 만족하면 반복이 종료 : break

In [8]:
sum = 0
for i in range(20): 
    sum += 1
    print(sum)
    if sum == 10:
        break

1
2
3
4
5
6
7
8
9
10

* for/while에 의한 반복 과정에서 특정 조건을 만족하면 코드 실행하지 않고 반복만 진행 : continue

In [14]:
a = 0
for i in range(10):
    a = a + 1
    if a % 2 == 0: 
        continue
    print(a)

1
3
5
7
9

**예제2. for를 두 번 사용하는 이중반복을 사용하여 구구단의 결과가 나오게 코드를 작성하여라.**

In [17]:
for i in range(2,10):
    for j in range(2,10):
        print(i, '*', j , ' = ', i*j)

2 * 2  =  4
2 * 3  =  6
2 * 4  =  8
2 * 5  =  10
2 * 6  =  12
2 * 7  =  14
2 * 8  =  16
2 * 9  =  18
3 * 2  =  6
3 * 3  =  9
3 * 4  =  12
3 * 5  =  15
3 * 6  =  18
3 * 7  =  21
3 * 8  =  24
3 * 9  =  27
4 * 2  =  8
4 * 3  =  12
4 * 4  =  16
4 * 5  =  20
4 * 6  =  24
4 * 7  =  28
4 * 8  =  32
4 * 9  =  36
5 * 2  =  10
5 * 3  =  15
5 * 4  =  20
5 * 5  =  25
5 * 6  =  30
5 * 7  =  35
5 * 8  =  40
5 * 9  =  45
6 * 2  =  12
6 * 3  =  18
6 * 4  =  24
6 * 5  =  30
6 * 6  =  36
6 * 7  =  42
6 * 8  =  48
6 * 9  =  54
7 * 2  =  14
7 * 3  =  21
7 * 4  =  28
7 * 5  =  35
7 * 6  =  42
7 * 7  =  49
7 * 8  =  56
7 * 9  =  63
8 * 2  =  16
8 * 3  =  24
8 * 4  =  32
8 * 5  =  40
8 * 6  =  48
8 * 7  =  56
8 * 8  =  64
8 * 9  =  72
9 * 2  =  18
9 * 3  =  27
9 * 4  =  36
9 * 5  =  45
9 * 6  =  54
9 * 7  =  63
9 * 8  =  72
9 * 9  =  81

**예제3. while를 두 번 사용하는 이중반복을 사용하여 구구단의 결과가 나오게 코드를 작성하여라.**

In [20]:
i = 2

while i < 10:
    j = 2
    while j < 10:
        print(i, '*', j , ' = ', i*j)        
        j += 1
    i += 1

2 * 2  =  4
2 * 3  =  6
2 * 4  =  8
2 * 5  =  10
2 * 6  =  12
2 * 7  =  14
2 * 8  =  16
2 * 9  =  18
3 * 2  =  6
3 * 3  =  9
3 * 4  =  12
3 * 5  =  15
3 * 6  =  18
3 * 7  =  21
3 * 8  =  24
3 * 9  =  27
4 * 2  =  8
4 * 3  =  12
4 * 4  =  16
4 * 5  =  20
4 * 6  =  24
4 * 7  =  28
4 * 8  =  32
4 * 9  =  36
5 * 2  =  10
5 * 3  =  15
5 * 4  =  20
5 * 5  =  25
5 * 6  =  30
5 * 7  =  35
5 * 8  =  40
5 * 9  =  45
6 * 2  =  12
6 * 3  =  18
6 * 4  =  24
6 * 5  =  30
6 * 6  =  36
6 * 7  =  42
6 * 8  =  48
6 * 9  =  54
7 * 2  =  14
7 * 3  =  21
7 * 4  =  28
7 * 5  =  35
7 * 6  =  42
7 * 7  =  49
7 * 8  =  56
7 * 9  =  63
8 * 2  =  16
8 * 3  =  24
8 * 4  =  32
8 * 5  =  40
8 * 6  =  48
8 * 7  =  56
8 * 8  =  64
8 * 9  =  72
9 * 2  =  18
9 * 3  =  27
9 * 4  =  36
9 * 5  =  45
9 * 6  =  54
9 * 7  =  63
9 * 8  =  72
9 * 9  =  81

# 클래스(class)와 인스턴스(instance)
* 데이터 구조와 계산 로직을 한 군데서 사용할 수 있도록 함께 묶어둔 목록
* 클래스 : 데이터와 기능을 함께 묶는 방법을 제공
* 인스턴스 : 클래스에 의해 만들어진 객체이며 각자의 값을 가짐
* 메서드(method) : 함수와 비슷한 개념으로 클래스에 묶여서 클래스 안에 있는 인스턴스와 관계되는 함수  

예.
* 덕성여자대학교, 서울대학교, 고려대학교, 성균관대학교 $\cdots$
* 이 학교들은 모두 '대학교'라는 공통적인 특징을 가짐.
* 이 때 대학교는 특정 학교를 지칭하는 표현이 아니라, 일반적으로 고등학교를 졸업한 후 진학하여 전공 공부를 하기 위한 학교를 지칭
* 여기서 '대학교'는 클래스
* 구체적인 학교인 덕성여자대학교는 대학교라는 클래스의 한 경우 : 인스턴스
* 마찬가지로 서울대학교도 대학교라는 클래스의 한 경우이므로 인스턴스
* '대학교'를 나타내는 특징들 예를 들어 4년 동안 재학, 여러 단과대학으로 구성되고 각 단과대학은 여러 학과들로 구성됨.
* 즉, 대학교라는 클래스의 특징들을 미리 지정해 놓으면 구체적인 인스턴스인 덕성여자대학교의 특징들은 어렵지 않게 정의될 수 있음.
* 이 때, 대학교의 특징을 나타내는 재학기간, 단과대학 : 메서드

* class라는 형태를 이용해 클래스를 정의하고, 그 안에 들여쓰기를 통해 특징들(변수나 함수인 메서드. 이 둘을 attributes라고 표현)을 정의(def)

In [24]:
class University:     
    duration = '4 years'
    def department(self):             
            return "Statistics"

* 위와 같이 대학교라는 클래스를 만들고, 대학교의 특징으로 통계학과라는 학과를 부여. 즉 대학교에는 통계학과라는 학과가 존재하는 특징을 가짐.
* 이렇게 정의된 대학교 클래스를 이용해서 덕성여자대학교라는 인스턴스를 정의할 수 있음.
* 이 때, 덕성여자대학교 역시 대학교이므로 통계학과라는 학과가 존재하게 됨.
* 이러한 통계학과라는 특징을 확인하기 위해서 .을 사용하여 '덕성여자대학교.duration()' 또는 '덕성여자대학교.department()'
* self의 경우 인스턴스를 만들 경우 사용되는 인자

In [27]:
덕성여자대학교 = University()
덕성여자대학교.department()

'Statistics'

In [29]:
덕성여자대학교.duration

'4 years'

In [31]:
class HighSchool:
    graduation = 'yes'
    def duration(self):             
            return "3 years"

In [33]:
school = HighSchool()
school.graduation

'yes'

In [35]:
school.duration()

'3 years'

# 변수(variable), 리스트(list), 딕셔너리(dictionary), 튜플(tuple)

### 변수
* 변수는 어떤한 값을 저장하는 메모리 공간
* 저장하려는 값의 형태의 따라 다양한 종류의 변수
* 불형(Boolean, True or False), 정수형, 실수형, 문자열

In [39]:
boolvar = True
intvar = 0
floatvar = 3.0
strvar = "안녕"

* 여러 변수에 값을 지정할 때, 다음과 같이 한 번에 정의할 수 있다.

In [42]:
boolvar2, intvar2, floatvar2, strvar2 = True, 0, 3.0, "안녕"
print(boolvar2);print(intvar2);print(floatvar2);print(strvar2)

True
0
3.0
안녕

In [44]:
type(boolvar)

bool

In [46]:
type(floatvar2)

float

* 변수의 사용
    - 변수에 값을 대입해 새로운 값으로 변경
    - 변수에 변수를 대입
    - 숫자끼리 연산한 결과를 대입
    - 변수와 숫자를 연산한 결과를 대입
    - 연산결과를 자신의 값에 다시 대입

In [49]:
boolvar2 = False
print(boolvar2)

False

In [51]:
value = 300
value2 = value
print(value2)

300

In [53]:
value3 = 3*2/5
print(value3)

1.2

In [55]:
value4 = value3 * 5
print(value4)

6.0

In [57]:
value4 = value4 * 100
print(value4)
value4 = value3 * 5
value4 *= 100
print(value4)

600.0
600.0

### 리스트
* 리스트는 변수들을 한 줄로 이어 붙여놓은 개념
* 만약 변수 a, b, c가 있을 때, 리스트는 [a,b,c]
* 리스트의 변수는 0번부터 시작, 즉 list = [a,b,c]라고 정의할 때, list[0] = a, list[1] = b, list[2] = c

In [60]:
a, b, c, d = 1, 2, 5, 7
abcd = [a,b,c,d] # or abcd = [1, 2, 5, 7]
print(abcd)

[1, 2, 5, 7]

In [62]:
print(abcd[0]); print(abcd[3]); print(abcd[4])

1
7

IndexError: list index out of range

### 리스트의 형태

In [65]:
a = []
b = [1,2,3]
c = [1, 2, 'Hello', 4]
d = [1, 2, 3, ['a','b','c']]

* 리스트 안의 성분들의 index
    - 0번부터 시작. 즉 b의 첫 번째 성분은 b[0]
    - 마지막 성분의 index는 -1, 즉 b의 마지막 성분은 b[-1]
    - 리스트의 성분으로 또 다른 리스트가 저장된 이중리스트의 성분들은 이중 index를 사용하여 표현

In [68]:
b_first = b[0]
b_last = b[-1]
print(b_first);print(b_last)

1
3

In [70]:
d[-1]

['a', 'b', 'c']

In [72]:
print(d[-1][0])
d_last_first = d[3][0]
print(d_last_first)

a
a

In [74]:
d[-1][-1]

'c'

* 리스트의 특정 성분들 골라내기(slicing)
    - :(콜론)을 기준으로 왼쪽은 시작지점의 다음 값(0부터 시작), 오른쪽은 끝나는 지점
    - 즉, c[1:3] 이면 리스트 c의 2번째 성분부터 3번째 성분까지
    - : 왼쪽 값을 지정하지 않으면 처음부터. 즉 c[:2]는 처음부터 2번째 성분까지
    - : 오른쪽 값을 지정하지 않으면 마지막까지, c[1:]은 2번째 성분부터 마지막까지

In [77]:
c[1:3]

[2, 'Hello']

In [79]:
c[1:2]

[2]

In [81]:
c[0:2]

[1, 2]

In [83]:
c[:2]

[1, 2]

In [85]:
c[1:]

[2, 'Hello', 4]

In [87]:
d[-1][:2]

['a', 'b']

* 리스트 연산
    - ' + ' 기호는 성분들의 더하기가 아니라 리스트를 이어붙여서 새로운 하나의 리스트를 만들게됨. 따라서 '리스트 + 리스트' 형태
    - ' * ' 기호는 리스트를 반복. 따라서 ' 리스트 * 정수 ' 형태로 작성

In [90]:
b + c

[1, 2, 3, 1, 2, 'Hello', 4]

In [92]:
b + 3

TypeError: can only concatenate list (not "int") to list

In [94]:
b + [3]

[1, 2, 3, 3]

In [96]:
b * 2

[1, 2, 3, 1, 2, 3]

In [98]:
b * c

TypeError: can't multiply sequence by non-int of type 'list'

* 리스트의 수정과 삭제
     - 리스트의 성분을 다른 값으로 대체하여 수정
     - del 함수를 이용하여 리스트 성분 삭제

In [101]:
a = [1, 2, 3, 4]
print(a)
a[1] = 10
print(a)

[1, 2, 3, 4]
[1, 10, 3, 4]

In [103]:
del a[1]
print(a)

[1, 3, 4]

In [105]:
del a[1:]
print(a)

[1]

In [107]:
len(a)

1

In [109]:
del a
a

NameError: name 'a' is not defined

* 리스트는 하나의 클래스. 즉, 여러 특징들 또는 함수들이 리스트라는 클래스에 포함됨.
* 예를 들어, 리스트에는 새로운 값들을 추가하거나 제거할 수 있는 특징(함수형태 : attributes)들이 정의되어있으며 이러한 함수를 불러오기 위해서는 
> 리스트.함수

* 리스트에 성분 추가(append)
    - list.append(x) : list라는 이름의 리스트의 마지막에 x를 추가

In [146]:
aa = []
print(aa)

[]

In [148]:
dir(aa)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [150]:
aa.append(3)
aa.append(1)
aa.append(8)
aa

[3, 1, 8]

In [152]:
aa.append(7, 1000)
aa

TypeError: list.append() takes exactly one argument (2 given)

In [154]:
aa.append([7, 100])
aa

[3, 1, 8, [7, 100]]

* 리스트에 여러 값을 넣고 싶을 때
    - list.extent([])

In [157]:
aa.extend([1,3,4,5])
aa

[3, 1, 8, [7, 100], 1, 3, 4, 5]

* 리스트 정렬(sort)

In [160]:
del aa[-5]
print(aa)
aa.sort()
aa

[3, 1, 8, 1, 3, 4, 5]

[1, 1, 3, 3, 4, 5, 8]

* 리스트의 성분들을 역순으로 정렬(reverse)

In [163]:
aa.reverse()
aa

[8, 5, 4, 3, 3, 1, 1]

* 리스트의 특정 성분이 어디에 있는지 위치 반환(index)

In [166]:
aa.index(8)

0

* 리스트에 성분 삽입(insert), 성분 제거(remove)
    - list.insert(0, 5) : list라는 리스트의 0번(첫 번째 성분)에 5라는 값을 삽입
    - list.remove(5) : list라는 리스트 성분 중 5 값을 가지는 것을 제거. 동시에 여러개의 5가 있을 경우 가장 먼저 나오는 5를 삭제

In [169]:
ㅁ = [2, 3, 5, 3, 7, 6, 3]

In [171]:
ㅁ.insert(0,5)
ㅁ

[5, 2, 3, 5, 3, 7, 6, 3]

In [173]:
ㅁ.remove(5)
ㅁ

[2, 3, 5, 3, 7, 6, 3]

* 리스트에 포함된 성분의 개수 세기(count)
    - list.count(3) : list라는 리스트 안에 3의 값을 가지는 성분이 몇 개인지 확인

In [176]:
ㅁ.count(3)

3

**aa.+tab 을 누르면 리스트라는 클래스로 정의된 aa에 사용할 수 있는 특징(함수)들을 확인할 수 있음.**

### 튜플(tuple)

리스트와 유사하지만 성분의 변경이 불가능하다.

In [180]:
a = (1,2,3)
print(a)

(1, 2, 3)

In [182]:
a[1]

2

In [184]:
a[1] = 3

TypeError: 'tuple' object does not support item assignment

예제1. 반지름을 1부터 50까지 중 홀수 25개(1, 3, 5, 7, ...)으로 가지는 원의 넓이를 출력하여라.

예제2. for 를 이용한 20번의 반복을 통해 리스트의 성분을 증가시키며 리스트를 업데이트하는데, 매번의 반복마다 앞의 두 항의 합을 새로운 성분으로 가지는(피보나치 수열) 리스트를 출력하여라. 즉, 처음 리스트는 [1,1], 한 번 반복한 후 얻어지는 리스트는 [1,1,2], 다음 반복에서 얻어지는 리스트는 [1,1,2,3], 그 다음은 [1,1,2,3,5], ...

# library/module 사용

* 모듈(module)
    - 모듈은 파이썬 코드 파일(.py) 형태로 저장되어있는 함수나 변수 또는 클래스를 모아 놓은 파이썬 파일
    - 다른 사람들이 이미 만들어 놓은 모듈을 사용할 수도 있고 직접 만들어 사용 가능
    - 많은 경우, 다른 사람들이 이미 만들어 놓은 모듈을 불러와서 필요한 함수들을 사용
* 라이브러리(library), 패키지(package)
    - 여러 모듈을 모아놓은 '도서관'
    - 많이 사용되는 라이브러리들은 파이썬을 설치할 때 자동적으로 설치됨